body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #cddbe9;
  min-height: 100vh;
}

.app {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  color: #333;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.movie-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.movie-item h3, .movie-item p, .movie-item button {
  margin: 4px;
  border-radius: 10px;
}

.movie-form {
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.title {
  text-align: center;
}

.main {
  text-align: center;
}

.add-movie {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .app, .movie-item, .movie-form {
    width: 90%;
    max-width: 90%;
  }

  .movie-form {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .app, .movie-item, .movie-form {
    width: 90%;
    max-width: 90%;
    padding: 10px;
  }

  .movie-form {
    padding: 15px;
  }

  .form-buttons {
    flex-direction: column;
    gap: 5px;
  }
}
